body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

#question-container, #waiting-for-answers-container, #result-container, #feedback-container {
    margin-top: 20px;
}

#found-excerpt {
    padding: 1em;
}

button {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b00;
    color: white;
    border: none;
    border-radius: 3px;
}

h1 {
    font-size: 2.5em;
    color: #b00;
    margin-bottom: 0;
}

#description {
    font-size: 1.5em;
}
#unit, #date {
    font-size: 1.25em;
}

#user-answer {
    margin-top: 20px;
    padding: 15px;
    font-size: 1.5em;
    max-width: 100%; /* Make it responsive */
    text-align: center;
}
#user-answer.error {
    background-color: #d58181;
    color: white;
}

#shareButton {
    position: fixed; /* Changed to fixed for better positioning */
    bottom: 20px;
    right: 20px;
}

/* Media Queries for Responsive Design */

/* For tablets and larger screens */
@media (min-width: 600px) {
    h1 {
        font-size: 4em; /* Larger font for bigger screens */
    }

    #description {
        font-size: 2em;
    }
    #unit, #date {
        font-size: 1.75em;
    }

    #user-answer {
        font-size: 2em;
    }
}

/* For laptops and desktops */
@media (min-width: 1024px) {
    h1 {
        font-size: 5em;
    }

    #description {
        font-size: 2.5em;
    }
    #unit, #date {
        font-size: 2em;
    }

    #user-answer {
        font-size: 2.5em;
    }
}

/* For very large screens */
@media (min-width: 1440px) {
    h1 {
        font-size: 6em;
    }

    #description {
        font-size: 3em;
    }
    #unit, #date {
        font-size: 2.5em;
    }

    #user-answer {
        font-size: 3em;
    }
}